* {
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c0d6e4;
}

.game {
    border: 2px solid #576675;
    padding: 16px;
    background: #acc0cd;
    max-width: 80%;
    max-height: 80vw;
    min-width: 358px;
    min-height: 470px;
}

.map {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    border: 1px solid #576675;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 60vw;
    min-height: 322px;
}

.cell {
    width: 32px;
    height: 32px;
    border: 1px solid #576675;
    background: #86959f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.cell-open {
    background: white;
}

.cell-bomb {
    background: #990000;
}

.cell i {
    color: white;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls input {
    max-width: 100px;
    padding: 14px 4px;
    background: #c0d6e4;
    outline: none;
    border: 2px solid #576675;
    border-radius: 0;
    margin: 4px 0;
}

#newgame {
    width: 100px;
    height: 48px;
    border: 2px solid #576675;
    background: #c0d6e4;
    font-size: 28px;
    color: #576675
}

.cell:hover {
    background: #78868f
}
.cell-open:hover {
    background: white;
}

.cell1 {
    color: #1b85b8;
}

.cell2 {
    color:#559e83;
}

.cell3 {
    color: #990000
}

.cell4 {
    color: #003366
}

.cell5 {
    color: #610000
}

.cell6 {
    color: #468499
}

.cell7 {
    color: #601e9e
}

.cell8 {
    color: #420420
}

.defeat {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.game-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flags, .time {
    max-width: 100px;
    height: 48px;
    border: 2px solid #576675;
    background: #c0d6e4;
    color: #576675;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.flag-value {
    min-width: 64px;
    font-size: 24px;
    text-align: center;
}

.time-value {
    font-size: 24px;
    text-align: center;
    min-width: 64px;
}

.title {
    color: #576675;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 32px;
}

.warning {
    font-size: 16px;
    color: #576675;
    margin-top: 16px;
}

.author {
    position: absolute;
    bottom: 30px;
    color: #576675;
    text-align: center;
}
.author a {
    color: #576675;
}

@media screen and (max-width:480px) {
    .title {
        font-size: 48px;
        margin-bottom: 15px;
    }
    .warning {
        margin-top: 8px;
        font-size: 14px;
    }
    .author {
        position: relative;
        bottom: unset;
        font-size: 14px;
        margin-top: 16px
    }
}